<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Zoo-Shop</title>
</head>
<body>
    <div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Zoo-Shop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="/add">Add<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Categories
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Cats</a>
                <a class="dropdown-item" href="#">Dogs</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Products</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Buy</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
    </div>

    <div >
      <img src="/images/header.jpg" class="img-fluid" alt="...">
      <div class="jumbotron">
        <h1 class="display-4">Hello! </h1>
        <p class="lead">This is a Cloud Development Homework 3 project Zoo-Shop web-site by Zhuman Rakhat</p>
        <hr class="my-4">
        <p>Code powered by Node JS, Bootstrap and cloud technologies Azure like Cosmos DB and Blob Storages</p>
        <a class="btn btn-primary btn-lg" href="https://github.com/zethuman/" role="button">My github page</a>
      </div>
    </div>
    
      <% for(let i=0; i < data.length; i++) { %>
        <form method="POST" action="view" name="view">
          <div class="container"> 
            <div class="row row-cols-1 row-cols-md-3">
              <div class="col mb-4">
                <div class="card">
                  <img src="https://zooshoprakhat.blob.core.windows.net/pet-images/<%= data[i].imagename %>" class="card-img-top" alt="...">
                  <div class="card-body">
                    <input hidden name="id" value="<%= data[i].id %>"/>
                    <input hidden name="imagename" value="<%= data[i].imagename %>"/>
                    <input hidden name="facts" value="<%= data[i].facts %>"/>
                    <input hidden name="name" value="<%= data[i].name %>"/>
                    <input hidden name="category" value="<%= data[i].categories %>"/>
                    <h5 class="card-title" name="name"><%= data[i].name %></h5>
                    <p class="card-text"><%= data[i].facts %></p>
                    <button type="SUBMIT" class="btn btn-info">View details</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      <% } %>

</body>
</html>